@font-face {
    font-family: 'Handlee';
    src: url('fonts/Handlee-Regular.ttf') format('truetype')
}



/*navigation elements*/
#myNav {
    background-color: #313638;
    padding: 0px;
    margin: 0px 0px 30px;
    text-align:center;
    color: #FAF9F6;
    font-family:'Handlee', serif;
    font-size: x-large;
}

#myNav ul {
    list-style: none; 
    padding: 0px; 
    margin: 0px;
}

#myNav ul li {
    display: inline-block; 
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

#myNav ul li:last-child {
    margin-right: 0; 
}

#myNav ul li:hover {
    background-color: #FAF9F6;
    color: #313638;
}



/*paragraph elements*/

#kyoto_Intro,
#prague_Intro,
#sydney_Intro,
#montreal_Intro,
#honolulu_Intro {
    display: block;
    color: #313638; 
    font-size: x-large;
    font-family:'Handlee', sans-serif;
}


#kyotoText,
#pragueText,
#sydneyText,
#montrealText,
#honoluluText {
float: right;
width: 30vw;
margin-right: 5vw;
text-align: left;
padding: 20px;
background-color: #F9F6EE;
color:#313638;

}


/*image float elements*/

#kyotoImages > #kyoto_skyline,
#pragueImages > #prague_skyline,
#sydneyImages > #sydney_skyline,
#montrealImages > #montreal_skyline,
#honoluluImages > #honolulu_skyline {
    width: calc(100% - 7px); 
    height: auto;
    float: left;
    clear: both; 
}

#images {
    display: block;
    width: 100vw;
    } 

#kyotoImages,
#pragueImages,
#sydneyImages,
#montrealImages,
#honoluluImages {
    width: 60vw;
    float: left;
}

#kyotoImages img,
#pragueImages img,
#sydneyImages img,
#montrealImages img,
#honoluluImages img {
    width: calc(50% - 4px); 
    float: left; 
    box-sizing: border-box; 
    padding: 2px;
}

/*weather elements*/

#weather-card {
    width: 30vw;
    float: right;
    padding: 20px;
    margin-right: 5vw;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    color:#313638;
    }



/*----------------------------------*/
@media screen and (max-width: 428px) {
    
    #myNav ul li {
        display: block;
        padding: 10px;
        cursor: pointer;
    }
    #main {
    width: 100%;
    background-color: #F9F6EE;
    }
    
    #kyotoText,
    #pragueText,
    #sydneyText,
    #montrealText,
    #honoluluText {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 80%
    }
    
    #images {
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    #images > div {
        width: 100%; 
    }


    #weather-card {
        width: calc(100% - 100px); 
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-left: 50px;
        margin-top: 10px; 
        color: #313638;
    }
}
