main {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #255322;  
 text-align: center;
 font-size: 2em;
}


footer{
    background-color: #255322;
    display: grid;
    grid-template-columns: 75% 25%;
}

 .div-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
  
}

.div-links > div {
    font-size: .6em;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    color: white;
    text-decoration: none; 
    margin: 20px;  
}




#social {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}   

