main {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #255322;  
 text-align: center;
 font-size: xx-large;
}


footer{
    background-color: #255322;
    display: grid;
    grid-template-columns: 75%, 25%;
}

 .div-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none; 
    margin: 20px;  
}


.div-image img {
    max-width: 100%;
    height: auto;
}


#social {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    
}   

