main {
background-image: url('images/background.jpg');
height: 70vh;
width: 100vw;
font-size: xx-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #255322;  
display: flex;
text-align: center;
align-items: center;
 
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100vh;

}

body {
    margin: auto;
}


footer{
    background-color: #255322;
    color: white;
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100vh;

}

 #links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
  
}


a {
    color: white;
    text-decoration: none; 
    margin: 20px;  
}

image {

}

